
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');




.yourFitnessSummaryUpdate{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #0066EE;
  position: aboslute; 
  font-weight: bold;
  
}



.goalANDremaining{
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #0066EE;
  padding: 20px;
}

.Date{
  margin-left: 100px;
  font-size: 30px;
  color: #0066EE;
  font-weight: bold;


}

.yourDailyCalorieCount{
  text-align: center;
  color: #0066EE;
  


}


.Weight{
  margin-left: 70px;
  color: #0066EE;
  font-size: 30px;
  font-weight: bold;
}



.goals{ 

  width: 700px;  
  height: 300px; 
  background-color: white;
  border: 20px solid  #0066EE;
  float: right;
  margin-top: 50px;
  margin-right: 300px;
  margin-left: 150px;
  position: absolute; 

}

.greenBox{
  width: 700px;  
  height: 250px; 
  background-color: white ;
  border: 20px solid #0066EE;
  margin-top: 120px;
  position: absolute;
  margin-left: -25px;

  
}





.but{
  margin-left: 10px;
  margin-bottom: 10px;
}

.create input, .create textarea, .create select {
  text-align: center;  
  width: 120px;
  height: 50px;
  padding: 6px 10px;
  border: 2px solid black;
  box-sizing: border-box;
  display: block;
  margin-left: 5px;
 
}

            



.yellowBox{ 
    
  width: 60px;  
  height: 600px; 
  margin-top: 50px;
  background-color: white;
  border: 20px solid  #FFC72C; 
  margin-left: 900px;
  float:right;
  position: absolute; 

}




.blueBox{

  width: 100%;
  text-align: center;
  color: white; 
  margin-top: 10px;
  font-size: 50px; 
  font-weight: bold;
  height: 200px; 
  margin-right: 50px; 
  background-color:  #0066EE; 
  

}


.caloriesRemaining{ 
  padding-top: 15px;
  color: #fff;
  margin-left: 30px;
  font-size:  30px; 
  font-weight: bold;
  
}


.calNum{
    font-weight: 100px;
    font-size: 60;
    text-align: center;
    color: black;
    
  }

  .create button {
    margin-right: 50px; 
    height: 60px;
    width: 200px; 
    background: #0066EE;
    color: #fff;
    border: 0;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    float:right; 

  }

 

  .title{
    color: #FFC72C;
    margin: 20px; 
    font-size: 90px;
    font-weight: bold;
  }

  .graphTitle{
    color: #FFC72C;
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold; 
    
  }



  .discription{
    color: #FFC72C;
    font-size: 30px;
  }



  .App {
    font-family: sans-serif;
    text-align: center;
  }  
  

  
 
 
 
 


  
 
  