div.container {
  margin: 160px auto;
  height: 100%;
  display: grid;
  background-color: #ffffff;; 
  width: 1500px; 
  height: 1000px; 
  font-size: 30px; 
  border: 30px solid #0066EE;
 
}


.myProfile{

  font-weight: bold;
}


div.profile {
  background-color: rgb(255, 255, 255);
  padding: 2em 1em;
  margin: auto;
  width: 400px;
  border-radius: 1em;
}

/* for the actual birthday date? */
div.group {
  vertical-align: middle;
  margin: 0.5em;
  height: 35px;
  font-size: x-large;
}

div.birthday {
  font-size: x-large;
  margin: 0.6em; 
  
}

div.color-box {
  position: relative;
  top: 6px;
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 1px solid darkgray;
}

label {
  margin: 0px;
}

/* for the "My Profile" Header Part */
.Profile h1 {
  margin: 60px; /* changed to 60px */
  font-size: 60px; 
  font-weight: normal;
  color: #000000;
  text-align: center;
  font-weight: bold;

}

/* for the "Name, Birthday, Weight, Age, Height" Parts */
h2 {
  display: inline; /* put the date of the birthday after the birthday header itself */
  font-weight: normal;
  font-size: px;
  color: #000000;
  font-weight: bold;
  
}

h2.input {
  position: relative;
  top: 20px; 
  padding: 5px;
}

/* for the edit button */
editButton {
  height: 60px;
  padding: 20px 20px;
  margin: 2px 5px;
  background-color: #FFC72C;
  border-radius: 7px;
  font-size: 20px;


}

/* for dynamic profile inputs
Group.input {
  height: 24px; 
}
*/