.NavbarItems{
<<<<<<< HEAD
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, white 100%);
=======
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%);
>>>>>>> d20af01fbedab1df9ff7974add0845d59755a1ce
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;

}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.nav-links:hover {
<<<<<<< HEAD
    background-color: white;
=======
    background-color: #6d76f7;
>>>>>>> d20af01fbedab1df9ff7974add0845d59755a1ce
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

