
/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;

}



input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}




.app {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #53565A;
}



form-a {
    display: block;
    position: relative;
}

form-a:after {
    content: '';
    display: block;
    position: absolute; 
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #FFCE00, #FE4800);

}



form .Login{
    position: relative;
    display: clock; 
    background-color: #8BB8E8; 
    padding: 100px;
    margin: auto;
    z-index: 2;
}

form .Register{
    position: right;

}

form .Login h2 {
    color: #FFCE00;
    font-size: 28px;
    font-weight: 500; 
    margin-bottom: 30px;

}

form .Login .form-group{
    display: block; 
    width: 300px;
    margin-bottom: 15px;


}

.Login .form-group label {
    display: bloxk;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.Login .form-group:focus-within label {
    color: #FE4880;
}

form .Login .form-group input{
    display: block; 
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px; 
    transition: 0.4s
}
form .Login .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

form .Login input[type = "submit"]{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #FFCE00 50%,  #FFCE00 50%, #8BB8E8);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

form .Login input[type = "submit"]:hover {
    background-position: 100% 0%; 
}

*/